.projects-redux {
    width: 100vw;
    background-color: black;
}

.projects-page-header {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-page-header h1 {
    color: white
}

.project-row {
    width: 100vw;
    height: 750px;
    display: flex;
}

.project-row-panel {
    flex: 1;
    position: relative;
    height: 100%;  
}

.row-number {
    position: absolute;
    top: 5%;
    left: 5%;
    color: white
}

.project-tile {
    height: 100%;
    width: 100%
}

.project-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.technologies-frameworks {
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-left: 20px
}

.project-links {
    margin: 20px 0 0 50px;
    display: flex;
    flex-direction: column
}

.project-links a {
    color: white;
    font-style: italic
}