#projects {
    width: 100vw;
    height: 100vh;
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    background: black
}

#projects-container-left {
    flex: 1;
    height: 100%
}

#projects-container-left :nth-child(1) {
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin-top: 0;
    animation: fadeIn 0.25s linear
}

#projects-container-right {
    flex: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* height: 100%; */
    overflow-x: hidden;
    overflow-y: scroll;
    padding-left: 100px;
    padding-right: 100px;
}

.tile-wrapper {
    height: 500px;
    opacity: 0;
    min-width: 500px;
    animation: fadeIn 0.5s linear forwards;
    animation-delay: calc(0.1s*var(--i))
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10%)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}