#hero {
    height: 100vh;
    width: 100vw;
    display: flex
}

#hero-container-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero-container-left h1 {
    font-size: 3rem
}


#hero-container-right {
    flex: 1;
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
}

#hero-container-left button {
    height: 50px;
    width: 150px;
    background: orange;
    color: white;
    cursor: pointer
}

#hero-container-left button a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold
}

/*
===============
Animation
===============
*/

.loader {
    position: relative;
    transform: skewY(-15deg) translateX(50px) translateY(50px);
    animation: animateColor 2.5s linear infinite;
    margin-right: 75px;
}

@keyframes animateColor {
    0% {
        filter: hue-rotate(0deg)
    }
    100% {
        filter: hue-rotate(360deg)
    }
}

/* .loader::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 200px;
    background: #f00;
    transform-origin: bottom;
    top: 300px;
    transform: skew(45deg);
    filter: blur(20px)
} */

.loader span {
    position: relative;
    width: 200px;
    height: 40px;
    display: block;
    background: #3e3f46;
    transition: 0.5s;
    z-index: var(--i);
    animation: animate 5s ease-in-out infinite;
    animation-delay: calc(-1s * var(--i))
}

@keyframes animate {
    0%,100% {
        transform: translateX(-70px)
    }
    50% {
        transform: translateY(70px)
    }
}

.loader span:hover {
    background: #33a3ee;
    transition: 0s
}

.loader span::before {
    content: '';
    position: absolute;
    background: #2e3133;
    top: 0;
    left: -150px;
    height: 100%;
    width: 150px;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s
}

.loader span:hover::before {
    background: #1f5378;
    transition: 0s;
}

.loader span::after {
    content: '';
    position: absolute;
    top: -150px;
    width: 100%;
    height: 150px;
    background: #f00;
    transform-origin: bottom;
    transform: skew(45deg);
    background: #35383e;
}

.loader span:hover::after {
    background: #2982b9
}