#skills {
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-clr);
    margin-top: 100px;
    /* margin-bottom: 100px */
}

#skills-inner-container {
    width: 75%;
    height: 90%;
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 20px
}

#skill {
  padding: 20px;
}

