.tile {
    overflow: hidden;
    height: 500px;
}

.tile-overlay {
    visibility: hidden;
    height: 100%;
    width: 100%;
    background: rgba(14, 14, 14, 0.75);
    transition: 0.5s linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tile-overlay :nth-child(1) {
    color: white
}

.tile-overlay :nth-child(2) {
    color: white;
    font-size: 1.5rem;
    width: 75%;
    text-align: center
}

.tile-overlay :nth-child(3) {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    margin-bottom: 20px
}

.tile-overlay :nth-child(4) {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    margin-bottom: 20px
}

.tile:hover > .tile-overlay {
    visibility: visible;
}