.project-page {
    min-height: 100vh;
    width: 100vw;
    position: relative;
}

.arrow-back-icon {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 75px;
    width: 75px;
    backgrounD: white
}

.arrow-back-icon :nth-child(1) {
    height: 100%
}

.header {
    top: 0;
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.header-panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px
}

.header-panel h1,
.header-panel p {
    color: white
}

.video-container,
.wallpaper-container {
    height: 75vh;
    width: 100%
}

.description-container {
    width: 100%;
    padding: 50px;
}

.description-container p {
    color: white;
    font-size: 1.5rem
}
