.project-page {
    min-height: 100vh;
    width: 100vw;
    position: relative;
}

.arrow-back-icon {
    position: fixed;
    top: 5%;
    left: 5%;
    height: 75px;
    width: 75px;
    background: rgba(100, 100, 100);
    border-radius: 50%;
    cursor: pointer;
    z-index: 999
}

.arrow-back-icon :nth-child(1) {
    height: 100%
}

.header {
    top: 0;
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.header-panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px
}

.header-right-panel {
    justify-content: flex-start;
}

.header-panel h1,
.header-panel p {
    color: white
}

.video-container,
.wallpaper-container {
    height: 75vh;
    width: 100%
}

.body-container h1,
.body-container p,
.body-container span,
.body-container a {
    color: white
}

.description-container {
    margin-top: 50px
}

.project-link-container {
    display: flex;
    flex-direction: column;
}

.description-container,
.technologies-container,
.gallery-container {
    width: 100%;
    display: flex;
    padding: 20px;
    min-height: 250px
}

.project-header {
    flex: 0.5;
    display: flex;
    justify-content: center;
}

.technologies {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start
}

.icon-container { 
    height: 75px;
    width: 75px;
    margin: 10px;
    position: relative;
}

.technology-icon {
    position: relative;
    transition: 0.25s ease-in;
}

.technology-label {
    opacity: 0;
    position: absolute;
    top: 0;
    margin-top: auto;
    right: 0;
    margin-right: auto;
    left: 0;
    margin-left: auto;
    bottom: 0;
    margin-bottom: auto;
    z-index: 3;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.25s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container img {
    height: 100%
}

.icon-container:hover .technology-icon {
    transform: rotate(360deg)
}

.icon-container:hover .technology-label {
    top: -150%;
    /* font-size: 1.5rem; */
    opacity: 1
}

.description,
.technologies,
.gallery {
    flex: 1;
    padding-right: 50px;
    /* padding-top: 10px; */
    padding-left: 30px;
    border-left: 1px solid white
}
