@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Crete Round", serif;
  background: black;
  overflow-x: hidden;
  overflow-y: scroll
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  font-size: 17px;
  --primary-clr: black;
  --secondary-clr: rgb(20, 20, 20);
  --tertiary-clr: rgb(10, 10, 10);
}
